body {
    background-color: #000a1f;
}

img{
height: 65px;
width: auto;
display: flex;
align-items: baseline;
justify-content: left;
border-color: #d4af37;
margin-bottom: -65px;
}

 
.container {
    width: 100%;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

     & img{
        width: 100px;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
        border: 2px solid rgba(225, 225, 225, o.684);
        transition: 0.5s; 

         &:hover{ 
            width:17%;
            cursor: pointer;    
        } 
    }
 


}

 nav{ 
    width: 100%;
    display: flex;
    align-items: center;
    gap: 30px;
    height: 50px;
    justify-content: center;
}

a{
    position: relative;
    cursor: pointer;
    color: #efefee;
    font-size: 28px;
    padding: 0.5rem 1rem;
    transition: color .25s;
}

a::after{
    position: absolute;
    content: 6;
    inset: 0;
    background: white;
    scale: 1 0;
    z-index: -1;
    transition: 0.45s;
    border-radius: 10px;

}

a:hover{
    color: #d4af37;
}

a:hover::after{
    scale: 1 1;
}

h1{
    font-size: 46px;
    margin: 7px;
    color: white;
    color: #d4af37 ;
    text-align: center;
}

 
h2{
    font-size: 33px;
    color: #d4af37;
    text-align: center;
    margin-top: 45px;
}

 h4{
    color: #d4af37;     
    font-size: 18px;
    padding: 0.5rem 1rem;
    text-align: center;
    margin-top: -20px;
} 

button{
    border: 20px darkgoldenrod;
    margin: 10px;
    padding: 20px;
    width: auto;
    cursor: pointer;
} 


  